{% extends "skins/base.html" %}
{% load i18n %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'home' %}"><b>Password</b> Reset</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

<p><strong>{% trans "Forgotten your password?" %}</strong></p>
<p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}
</p>
<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset my password' %}</button>
</form>
</div>
</div>
{% endblock %}
