{% extends "skins/base.html"%}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" id="stepper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="navbar col-md-6">
      <div class="navbar-inner">
        <ul class="nav nav-pills" id="steps-container">
          <li class="active"><a href="#step1" data-toggle="tab" data-step="1">Site Name</a></li>
          <li><a href="#step2" data-toggle="tab" data-step="2">Customise</a></li>
          <li><a href="#step3" data-toggle="tab" data-step="3">Template Review</a></li>
        </ul>
      </div>
    </div>
    <div class="progress col-md-6">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1"
           aria-valuemax="3" style="width: 33%;">
        Step 1 of 3
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content stepper-content">

  <div class="tab-content">
  <div class="tab-pane fade active in" id="step1">

    <div class="floater-head">
      <h1>
        Site Name
        <small>Give your mobie site a name</small>
      </h1>
    </div>

    <div class="center-block">
      <div class="box box-primary">
        <div class="box-body row row-centered">
          <div class="spacer"></div>
          <div class="col-md-10 col-centered text-center">
            <p>In order to setup a mobi site we need to generate a domain for your site. This wil serve as the
              site URL for your mobi site in the future.</p>
            <br>
            <input class="form-control input text-center siteinput" name='fname' id="site-input" type="text"
                   maxlength="30" placeholder="enter your site name">
            <br>

            <p><strong>Your mobile site URL will be</strong></p>

            <p>http://<strong><span class='printsite' id='printsite'>your-site-name</span></strong>.molo.site
            </p>
            <br>
            <button class="btn bg-purple btn-block next">Use this site name</button>
            <div class="spacer"></div>
          </div>
        </div>
      </div>
    </div>

    <footer class="step-footer">
      <a class="bg-purple btn-default btn next pull-right" href="#">Next <i class="fa fa-chevron-right"></i></a>
    </footer>

  </div>
  <div class="tab-pane fade" id="step2">

  <div class="floater-head">
    <h1>
      Customise
      <small>Customise your template</small>
    </h1>
  </div>

  <div class="row center-block-1200">

  <div class="col-md-6">
    <!-- TO DO List -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Select section to edit</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <ul id="fb-blockcontainer" class="todo-list">

          <li id="fb-block-header" class="fb-block locked-sect">
            <span class="pull-right lock">
              <i class="fa fa-lock"></i>
            </span>
            <span class="text">Header Block</span>

            <div class="grab-sect sect-head fb-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="sect-logo col-md-8">
                    <i class="fa fa-cubes no-fb-body"></i>&nbsp;
                    <span id="printsitelabel1">
                      <strong>Your Site Logo</strong>
                    </span>
                  </div>
                  <div class="sect-menu pull-right col-md-4">
                   <span class="pull-right">Menu <i
                       class="fa fa-bars no-fb-body"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li id="fb-block-article" class="fb-block">
            <span class="handle pull-right">
              <i class="fa fa-arrows"></i>
            </span>
            <span class="text">Article Block</span>

            <div class="grab-sect sect-art fb-body">
              <h6>Heading</h6>

              <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel
                augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est
                at lobortis. Donec id elit non mi porta gravida at eget metus.</p>

              <p><strong class="fb-accent-1">Accented Text 1</strong></p>

              <p><strong class="fb-accent-2">Accented Text 2</strong></p>
            </div>
          </li>
          <li id="fb-block-banner" class="fb-block">
            <span class="handle pull-right">
            <i class="fa fa-arrows"></i>
            </span>
            <span class="text">Banner Block</span>

            <div class="grab-sect sect-banner fb-body">

            </div>
          </li>
          <li id="fb-block-category" class="fb-block">
            <span class="handle pull-right">
            <i class="fa fa-arrows"></i>
            </span>
            <span class="text">Category Block</span>

            <div class="grab-sect sect-cat fb-body">
              <ul>
                <li>
                  <h6>Category 1</h6>
                </li>
                <li>
                  <h6>Category 2</h6>
                </li>
                <li>
                  <h6>Category 3</h6>
                </li>
                <li>
                  <h6>Category 4</h6>
                </li>
                <li>
                  <h6>Category 6</h6>
                </li>
                <li>
                  <h6>Category 7</h6>
                </li>
              </ul>
            </div>
          </li>
          <li id="fb-block-poll" class="fb-block">
            <span class="handle pull-right">
            <i class="fa fa-arrows"></i>
            </span>
            <span class="text">Poll Block</span>

            <div class="grab-sect sect-poll fb-body">
              <h6>Poll Heading</h6>

              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1"
                           value="option1" checked="">
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2"
                           value="option2" disabled="">
                    Aenean lacinia bibendum nulla sed consectetur.
                  </label>
                </div>
              </div>
            </div>
          </li>

          <li id="fb-block-footer" class="fb-block locked-sect">
            <span class="pull-right lock">
            <i class="fa fa-lock"></i>
            </span>
            <span class="text">Footer Block</span>

            <div class="grab-sect sect-foot fb-body">
              <p>&copy; 2016 <span id="printsitelabel2"><strong>Your Site
                Name</strong></span> | All rights reserved.</p>
            </div>
          </li>

        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <div class="spacer"></div>
  </div>
  <div class="col-md-6">
    <!-- Horizontal Form -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Global Options</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-5 control-label">Background Colour</label>

            <div class="col-sm-7">
              <input type="text" class="form-control color-picker" id="fb-body_background-color"
                     value="#ffffff" data-color-format="hex">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Text Colour</label>

            <div class="col-sm-7">
              <input type="text" class="form-control color-picker" id="fb-body_color" value="#000000"
                     data-color-format="hex">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Body Font</label>

            <div class="col-sm-7">
              <select class="form-control" id="fb-body_font-family">
                <option>Arial, Helvetica, sans-serif</option>
                <option>"Times New Roman", Times, serif</option>
                <option>"Courier New", Courier, monospace</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Accent Colour 1</label>

            <div class="col-sm-7">
              <input type="text" class="form-control color-picker" id="fb-accent-1_color" value="#4383CD"
                     data-color-format="hex">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label">Accent Colour 2</label>

            <div class="col-sm-7">
              <input type="text" class="form-control color-picker" id="fb-accent-2_color" value="#97ee7b"
                     data-color-format="hex">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (right) -->

  </div>

  <footer class="step-footer">
    <a class="bg-purple btn-default btn prev pull-left" href="#"><i class="fa fa-chevron-left"></i> Previous</a>
    <a class="bg-purple btn-default btn next pull-right" href="#">Next <i class="fa fa-chevron-right"></i></a>
  </footer>

  </div>
  <div class="tab-pane fade" id="step3">

    <div class="floater-head">
      <h1>
        Template Review
        <small>Optional description</small>
      </h1>
    </div>

    <div class="row center-block-1000">

      <div class="col-md-5 fixed-center fixed-400">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Template Review</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div id="temp-review-box" class="temp-review-box fb-body">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 fixed-center fixed-580">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Device Previews</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body mobi-prev-box">
            <div class="col-md-6">
              <div class="mobi-prev-1 mobi-prev">
                <div id="review-mobi-prev-1-wrapper">
                  <div id="review-mobi-prev-1">
                  </div>
                </div>
              </div>
              <div class="mobi-prev-2 mobi-prev">
                <div id="review-mobi-prev-2-wrapper">
                  <div id="review-mobi-prev-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mobi-prev-3 mobi-prev">
                <div id="review-mobi-prev-3-wrapper">
                  <div id="review-mobi-prev-3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer"></div>
      </div>
    </div>

    <footer class="step-footer">
      <a class="bg-purple btn-default btn prev pull-left" href="#"><i class="fa fa-chevron-left"></i> Previous</a>
      <a class="bg-purple btn-default btn next pull-right" href="{% url 'home' %}">Done <i class="fa fa-flag-checkered"></i></a>
    </footer>
  </div>
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
