{% extends "skins/base.html" %}

{% load i18n controller_base_tags mc2_tags static admin_urls%}

{% block title %}Free Basics Incubator Admin {% endblock %}

{% block page_header_title %}<h1>Home</h1>{% endblock %}

{% block search %}{% endblock %}

{% block sidebar %}
<aside class="main-sidebar">

  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->
      {% if organizations.exists %}
      <li class="active"><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
      {% endif %}
      <li><a target="_blank" href="https://freebasicsincubator.zendesk.com"><i class="fa fa-question"></i> <span>Helpdesk</span></a></li>
      {% if user.is_superuser %}
      <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      {% endif %}
    </ul>
    <!-- /.sidebar-menu -->

  </section>
  <!-- /.sidebar -->
</aside>
{% endblock %}

{% block content %}
<div class="content-wrapper" id="stepper">
<div class="content stepper-content">
{% if organizations.exists or request.user.is_superuser %}
  {% for controller in controller_list %}
  {% render_controller controller %}
  {% endfor %}
{% else %}
<div>You do not have permissions to use this site.</div>
{% endif %}
</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $("#result_list .main")
    .on("mouseenter", function(){
      $(this).addClass("info-hint");
    })
    .on("mouseleave", function(){
      $(this).removeClass("info-hint");
    })
    .on("click", function(e){
      if(!$(e.target).is("a")){
        $(this).find(".additional-info").toggle(400);
      }
    });
    $('#filter').keyup(function(){
        var valThis = $(this).val().toLowerCase().split(" ");
        $('#result_list .main').each(function(){
            var text = $(this).attr('name') + ' ' +
                       $(this).attr('appid') + ' ' +
                       $(this).attr('state');
            valThis.every(function(a){return text.toLowerCase().indexOf(a) != -1}) ? $(this).show() : $(this).hide();
        });
        $("#results_count").html($('#result_list .main:visible').length);
    });
    $("#overlay-title").click(function(evt){
        var parentTag = $(evt.target).closest(".card-content-overlay");
        if(parentTag.siblings().length > 0) {
            parentTag.animate({opacity: 0}, 400, "linear", function () {
                swapZIndex(this);
            });
        }
    });
    $("#overlay-content").click(function(evt){
        $(evt.target).closest(".card-content-overlay").animate({opacity: 0}, 400, "linear", function(){
            swapZIndex(this);
        });
    });
    var deleteLink = "";
    $(".app-delete-action").click(function (evt){
        deleteLink = $(evt.target).closest("a").attr('href');
        $(evt.target).closest(".card-content-overlay").animate({opacity: 0}, 400, "linear", function(){
            swapZIndex(this);
        });
        return false;
    });
    $(".app-delete-confirm-action").click(function (evt){
        var chosenOption = $(evt.target).closest(".app-delete-confirm-action").text().trim().toUpperCase();
        if(chosenOption == "YES") {
            location.href = deleteLink;
        }else if(chosenOption == "NO"){
            var parentTag = $(evt.target).closest(".card-content-overlay");
            if(parentTag.siblings().length > 0) {
                parentTag.animate({opacity: 0}, 400, "linear", function () {
                    swapZIndex(this);
                });
            }
        }
    });
    function swapZIndex(cardOverlay){
        $(cardOverlay).css("z-index", "2");
        $(cardOverlay).siblings().css("z-index", "3");
        $(cardOverlay).css('opacity', '1');
    }
});
</script>


{% endblock %}
